<head>
  <title><%= current_page.data.title %></title>

  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= current_page.data.description %>">

  <meta property="og:title" content="<%= current_page.data.title %>" />
  <meta property="og:url" content="<%=  current_page.data.domain %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%= current_page.data.description %>">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@calazans10">
  <meta name="twitter:title" content="<%= current_page.data.title %>" />
  <meta name="twitter:description" content="<%= current_page.data.description %>">

  <meta name="apple-mobile-web-app-title" content="<%= current_page.data.title %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#ecf0f1">

  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "normalize", "all" %>
  <%= favicon_tag 'images/favicon.png' %>
</head>
